//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__input {
		// @include adaptiveValue("font-size", 20, 15);
		width: 100%;
		@include adaptiveValue("padding-top", 10.5, 7, 0, 834, 375);
		padding-left: rem(20);
		@include adaptiveValue("padding-bottom", 10.5, 7, 0, 834, 375);
		padding-right: rem(20);
		background: $whiteTextColor;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		margin-bottom: rem(5);
		&-cover {
			&:not(:last-child) {
			margin-bottom: rem(10);
			width: 100%;
		}
		}
		&::placeholder {
			font-style: normal;
			font-weight: 500;
			@include adaptiveValue("font-size", 20, 13, 0, 834, 375);
			line-height: math.div(20 , 20);
			line-height: 100%;
			letter-spacing: -0.04em;
			color: $secondTextColor;
			opacity: 0.49;
			transition: transform 0.3s ease 0s;
		}
		&._form-focus {
			&::placeholder {
				transform: scale(0);
				transform-origin: left;
			}
		}
		&._form-error {
			box-shadow: 0px 0px 0px 1px $accentColor;
			&::placeholder {
				color: $accentColor;
				opacity: 1;
			}
		}
	}
	&__error {
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue("font-size", 12, 10, 0, 834, 375);
		line-height: math.div(12 , 12);
		color: $accentColor;
		text-align: left;
	}
	&__button {
		width: fit-content;
		margin: 0 auto;
		font-style: normal;
		font-weight: 500;
		font-size: rem(14.9373);
		line-height: math.div(14.9373 , 14.9373);
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $whiteTextColor;
		margin: rem(40) 0 rem(15);
		padding: rem(20.75) rem(80.75);
		background-color: $accentColor;
		border-radius: 34.8537px;
	}
	&__descr {
		font-style: normal;
		font-weight: 500;
		font-size: rem(12);
		line-height: math.div(12 , 12);
		color: $secondTextColor;
		opacity: 0.69;
		max-width: 360px;
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
