@font-face {
	font-family: RockStar;
	font-display: swap;
	src: url("../fonts/RockStar-Medium.woff2") format("woff2"), url("../fonts/RockStar-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RockStar;
	font-display: swap;
	src: url("../fonts/RockStar-Bold.woff2") format("woff2"), url("../fonts/RockStar-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
