.stiky-block {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	@include adaptiveValue("height", 145, 125, 0, 1440, 834);
	@include adaptiveValue("height", 125, 130, 3, 834, 375);
	background-color: $accentColor;
	z-index: 50;
		/* .stiky-block__button */
		&__button {
			font-style: normal;
			font-weight: 700;
			@include adaptiveValue("font-size", 25, 20, 0, 1440, 834);
			@include adaptiveValue("font-size", 20, 18, 3, 834, 375);
			line-height: math.div(25 , 25);
			letter-spacing: -0.03em;
			text-transform: uppercase;
			color: $whiteTextColor;
			background-color: $darckBgColor;
			@include adaptiveValue("padding-top", 30, 25, 0, 834, 375);
			@include adaptiveValue("padding-bottom", 30, 25, 0, 834, 375);
			@include adaptiveValue("padding-right", 79.84, 106.34, 0, 1440, 834);
			@include adaptiveValue("padding-right", 106.34, 72.5, 3, 834, 375);
			@include adaptiveValue("padding-left", 79.84, 106.34, 0, 1440, 834);
			@include adaptiveValue("padding-left", 106.34, 72.5, 3, 834, 375);
			border-radius: 42px;
		}
}
